<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application><activity android:name="dev.unpaged.android.ai.AiFixtureActivity" android:exported="true" /><activity android:name="dev.unpaged.android.shelves.ShelvesFixtureActivity" android:exported="true" /><activity android:name="dev.unpaged.android.activity.ReadingFixtureActivity" android:exported="true" /></application>
</manifest>
